body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

body header {
  background-color: blue;
  display: none;
}

body main {
  height: 100%;
  width: 100%;
}

body main div:nth-child(1) {
  background-color: blue;
  width: calc(100% / 3);
  height: 100%;
  float: left;
}

body main div:nth-child(2) {
  background-color: white;
  width: calc(100% / 3);
  height: 100%;
  float: left;
}

body main div:nth-child(3) {
  background-color: red;
  width: calc(100% / 3);
  height: 100%;
  float: left;
}
